.card {
	width: 340px;
	height: 220px;
}
h2 {
	height:180px!important;
	text-align:center;
	background:white;
	color:black!important;
	width:280px; margin:15px auto!important;
	font-weight:normal!important;
}
.cardBackAndFront {
	flex-wrap: nowrap;
}
.cardContentUp {
	width: 310px !important;
	border: none;
	position:absolute!important;
	margin-left:360px!important;
	margin-top:-200px!important;
	z-index:2;
	height:180px!important;
	align-items: center!important;
}
.cardContentUp ul {
	margin-left: -10px !important;
	margin-right: 10px;
}
h3 {
	display:none!important
}
.cardContentDown {
	display:none!important
}
.cardBackImage, .cardBack aside {
	display: none;
}
.card footer {
	display:none!important
}
#content {
	width: 70vw !important;
}
@media print {
	@page {
		size: A4 portrait !important;
	}
	#content {
		width: 100% !important;
	}
}
