.card {
	width: 340px;
	height: 220px;
}
h2 {
	height: 190px !important;
	text-align: center;
	background: white;
	color: black !important;
	width: 280px;
	margin: 10px auto !important;
	font-weight: normal !important;
}
h2 aside {
	float: none !important;
	margin-left: 0 !important;
	text-align: center !important;
	font-size: 0.7em !important;
}
h3 {
	height: 18px !important;
	visibility: visible !important;
	margin-top: -195px !important;
	font-weight: normal !important;
	justify-content: right !important;
	width: 300px !important;
}
.cardBackAndFront {
	flex-wrap: nowrap;
}
.z2 {
	width: 310px !important;
	border: none;
	position: absolute !important;
	margin-left: 360px !important;
	margin-top: -204px !important;
	z-index: 2;
	height: 196px !important;
	align-items: center !important;
}
.cardContentUp p,
.cardContentUp pre {
	margin: 5px;
	padding: 0 10px;
}
.cardContentUp ul,
.cardContentUp ol {
	margin-left: -10px !important;
	margin-right: 10px;
}
.cardContentDown {
	display: none !important;
}
.cardBackImage,
.cardBack aside {
	display: none;
}
.card footer {
	position: absolute;
	width: auto;
	margin-top: 137px !important;
	text-align: right !important;
	font-size: 0.7em !important;
	right: 310px;
	margin-right: 59px;
}
#content {
	width: 70vw !important;
}

.zCount1 .cardTitle span {
	visibility: visible !important;
}

.zCount1 .cardContentUp {
	display: none;
}

.cardBackAndFront {
	perspective: 1000px;
}
.noVerso .cardFront {
	transform-style: preserve-3d;
	transition:
		transform 0.8s,
		background-color 0s 0.25s,
		border 0s 0.25s;
	transform: rotateY(0deg);
}
.noVerso .showVerso .cardFront {
	transform: rotateY(180deg);
	background-color: transparent;
	border: 1px solid grey;
}
.noVerso .z1 {
	backface-visibility: hidden;
}
.noVerso .z2 {
	transform: rotateY(0deg);
	transition:
		transform 0s 0.25s,
		margin-left 0s 0.25s;
	margin-left: 360px !important;
}
.noVerso .showVerso .z2 {
	margin-left: 10px !important;
	transform: rotateY(180deg);
}

.noVerso .card footer {
	right: -36px;
}

@media print {
	div#card-1 {
		margin-top: -0.55em;
	}

	#content {
		columns: 1 !important;
		column-count: 1 !important;
		width: 100% !important;
	}
	.noVerso #content {
		columns: 2 !important;
	}
	.printRectoVerso #content {
		columns: 1 !important;
		margin: 0px !important;
		padding: 0px !important;
	}
	.noVerso .cardBackAndFront {
		margin: 0 0 30px 0 !important;
	}
	.printRectoVerso .cardBackAndFront {
		flex-wrap: wrap !important;
	}

	.printRectoVerso .card {
		margin: 0px !important;
		margin-top: 5px !important;
		margin-left: -5px !important;
		padding: 0px !important;
	}
	.printRectoVerso .cardFront {
		margin-top: 2px !important;
	}
	.printRectoVerso .cardBack {
		margin-top: 4px !important;
	}

	.printRectoVerso .cardBackAndFront:first-of-type .cardFront {
		margin-top: 4px !important;
	}

	.printRectoVerso.noVerso .cardBackAndFront:first-of-type .cardFront {
		margin-top: -6px !important;
	}

	.card footer {
		right: 430px !important;
		z-index: 99999 !important;
	}
	.noVerso .card footer {
		right: -40px !important;
	}

	.printRectoVerso .z2 {
		margin-left: 15px !important;
		margin-top: 25px !important;
	}

	.printRectoVerso .card footer {
		right: -25px !important;
	}
	.printRectoVerso.noVerso .card footer {
		right: -40px !important;
	}
}

.hasAdditionnalContentBottom > span {
	padding-bottom: 25px !important;
	padding-top: 5px;
}

.hasAdditionnalContentTop > span {
	padding-top: 25px !important;
	padding-bottom: 5px;
}
