.card {
	width: 340px;
	height: 220px;
}
h2 {
	color: white !important;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 10px 60px !important;
	padding-bottom: 5px !important;
}
.cardBackAndFront {
	flex-wrap: nowrap;
}
.cardContentUp {
	width: 310px !important;
	height: 130px !important;
	margin: 20px auto !important;
	border: none;
	align-items: center !important;
}
.cardContentUp ul,
.cardContentUp ol {
	margin-left: -10px !important;
	margin-right: 10px;
}
h3 {
	position: absolute;
	width: 310px;
	margin-left: 350px !important;
	margin-top: -220px !important;
	z-index: 2;
}
.cardContentDown {
	position: absolute;
	width: 300px;
	height: 152px;
	margin-left: 355px !important;
	margin-top: -180px !important;
	border: none;
	padding: 9px 10px;
	z-index: 1;
}
.cardContentDown ul,
.cardContentDown ol {
	margin-left: -10px !important;
	margin-right: 10px;
}

.cardBackImage,
.cardBack aside {
	display: none;
}
.card footer {
	position: absolute;
	width: 325px;
	margin-top: -212px !important;
	border: none !important;
	text-align: right !important;
	font-size: 0.7em !important;
}
#content {
	width: 70vw !important;
}

.zCount3 .cardContentDown {
	height: 180px;
	margin-top: -212px !important;
	margin-left: 356px !important;
}

.zCount1 .z1 {
	display: none !important;
}

.zCount1 .cardContentUp {
	height: 200px !important;
	margin-top: 10px !important;
	width: 320px !important;
}

.noVerso .z3,
.noVerso .z4 {
	display: none !important;
}

@media print {
	#content {
		columns: 1 !important;
		column-count: 1 !important;
		width: 100% !important;
	}
	.noVerso #content {
		columns: 2 !important;
	}
	.printRectoVerso #content {
		columns: 1 !important;
		margin: 0px !important;
		padding: 0px !important;
	}
	.noVerso .cardBackAndFront {
		margin: 0 0 30px 0 !important;
	}
	.printRectoVerso .cardBackAndFront {
		flex-wrap: wrap !important;
	}

	.printRectoVerso .card {
		margin: 0px !important;
		margin-top: 5px !important;
		margin-left: -5px !important;
		padding: 0px !important;
	}
	.printRectoVerso .cardFront {
		margin-top: 2px !important;
	}
	.printRectoVerso .cardBack {
		margin-top: 4px !important;
	}

	.printRectoVerso .cardBackAndFront:first-of-type .cardFront {
		margin-top: -6px !important;
	}

	.printRectoVerso h3 {
		margin-left: 7px !important;
		margin-top: 15px !important;
	}

	.printRectoVerso .cardContentDown {
		margin-left: 10px !important;
		margin-top: 50px !important;
	}
}
