h2 {
	margin-top: -4px !important;
}
.cardContentUp {
	height: 90px;
	margin-top: 2px !important;
}
.card h3 {
	margin-top: -3px !important;
	margin-bottom: 6px !important;
}
.cardContentDown {
	height: 170px;
}
.cardContentDown ul span {
	font-size: 0.7em;
}

.card:has(footer) .z4 {
	height: 145px !important;
	padding-bottom: 25px !important;
}
footer {
	margin-right: 5px;
}
