:root {
	--rouge: #834b4b;
	--rouge-light: #ca98989e;
	--orange: #d09a38;
	--orange-light: #ffd68a;
	--violet: #8565a4;
	--violet-light: #cfb6e7;
	--vert: #4b7d4b;
	--vert-light: #bad0ba;
	--bleu: #88a2b8;
	--bleu-light: #cce1f3;
	--jaune: #e6c300;
	--jaune-light: #f7f1b3;
	--rose: #d18998;
	--rose-light: #f8c5cf;
	--marron: #a3856e;
	--marron-light: #d1b9a3;
}

.cardBackImage[src="img/back.svg"] {
	filter: grayscale(0.8);
}

.red .card,
.rouge .card,
.printPage--card.printPage--flashcard .red.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .red.printCardWrapper,
.printPage--card.printPage--flashcard .rouge.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .rouge.printCardWrapper {
	background-color: var(--rouge-light);
	border-color: var(--rouge);
}
.red .cardBackImage[src="img/back.svg"],
.rouge .cardBackImage[src="img/back.svg"] {
	filter: hue-rotate(145deg);
}
.red footer,
.rouge footer {
	border-left-color: var(--rouge-light);
	border-top-color: var(--rouge-light);
}

.orange .card,
.printPage--card.printPage--flashcard .orange.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .orange.printCardWrapper {
	background-color: var(--orange-light);
	border-color: var(--orange);
}
.orange .cardBackImage[src="img/back.svg"] {
	filter: hue-rotate(160deg);
}
.orange footer {
	border-left-color: var(--orange-light);
	border-top-color: var(--orange-light);
}

.violet .card,
.printPage--card.printPage--flashcard .violet.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .violet.printCardWrapper {
	background-color: var(--violet-light);
	border-color: var(--violet);
}
.violet .cardBackImage[src="img/back.svg"] {
	filter: hue-rotate(29deg);
}
.violet footer {
	border-left-color: var(--violet-light);
	border-top-color: var(--violet-light);
}

.green .card,
.vert .card,
.printPage--card.printPage--flashcard .green.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .green.printCardWrapper,
.printPage--card.printPage--flashcard .vert.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .vert.printCardWrapper {
	background-color: var(--vert-light);
	border-color: var(--vert);
}
.green .cardBackImage[src="img/back.svg"],
.vert .cardBackImage[src="img/back.svg"] {
	filter: hue-rotate(215deg);
}
.green footer,
.vert footer {
	border-left-color: var(--vert-light);
	border-top-color: var(--vert-light);
}

.blue .card,
.bleu .card,
.printPage--card.printPage--flashcard .blue.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .blue.printCardWrapper,
.printPage--card.printPage--flashcard .bleu.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .bleu.printCardWrapper {
	background-color: var(--bleu-light);
	border-color: var(--bleu);
}
.blue .cardBackImage[src="img/back.svg"],
.bleu .cardBackImage[src="img/back.svg"] {
	filter: grayscale(0);
}
.blue footer,
.bleu footer {
	border-left-color: var(--bleu-light);
	border-top-color: var(--bleu-light);
}

.yellow .card,
.jaune .card,
.printPage--card.printPage--flashcard .yellow.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .yellow.printCardWrapper,
.printPage--card.printPage--flashcard .jaune.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .jaune.printCardWrapper {
	background-color: var(--jaune-light);
	border-color: var(--jaune);
}
.yellow .cardBackImage[src="img/back.svg"],
.jaune .cardBackImage[src="img/back.svg"] {
	filter: hue-rotate(50deg);
}
.yellow footer,
.jaune footer {
	border-left-color: var(--jaune-light);
	border-top-color: var(--jaune-light);
}

.pink .card,
.rose .card,
.printPage--card.printPage--flashcard .pink.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .pink.printCardWrapper,
.printPage--card.printPage--flashcard .rose.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .rose.printCardWrapper {
	background-color: var(--rose-light);
	border-color: var(--rose);
}
.pink .cardBackImage[src="img/back.svg"],
.rose .cardBackImage[src="img/back.svg"] {
	filter: hue-rotate(300deg);
}
.pink footer,
.rose footer {
	border-left-color: var(--rose-light);
	border-top-color: var(--rose-light);
}

.brown .card,
.marron .card,
.printPage--card.printPage--flashcard .brown.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .brown.printCardWrapper,
.printPage--card.printPage--flashcard .marron.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .marron.printCardWrapper {
	background-color: var(--marron-light);
	border-color: var(--marron);
}
.brown .cardBackImage[src="img/back.svg"],
.marron .cardBackImage[src="img/back.svg"] {
	filter: sepia(1);
}
.brown footer,
.marron footer {
	border-left-color: var(--marron-light);
	border-top-color: var(--marron-light);
}

.gris .card,
.lightgrey .card,
.printPage--card.printPage--flashcard .gris.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .gris.printCardWrapper,
.printPage--card.printPage--flashcard .lightgrey.printCardWrapper,
.printPage--rectoVerso.printPage--flashcard .lightgrey.printCardWrapper {
	background-color: lightgrey;
}
