@media print {
	@page {
		size: 224px 344px !important;
		margin: 0px !important;
		padding: 0px !important;
	}
	#content {
		margin: 0px !important;
		padding: 0px !important;
		columns: 1;
	}
	.card {
		margin: 0px !important;
		margin-top: 5px !important;
		margin-left: -5px !important;
		padding: 0px !important;
	}
	.cardBack {
		margin-top: 10px !important;
	}
	.cardBackAndFront:nth-of-type(1) .cardFront {
		margin-top: -2px !important;
	}
}
