@page {
	size: A4 landscape;
	margin: 20px !important;
}
body {
	width: 100% !important;
	height: 100% !important;
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
}
#content {
	margin: 10px !important;
	width: 100% !important;
	padding-top: 0 !important;
}
h1,
#editor,
header,
nav {
	display: none !important;
}
.cardBackAndFront,
.card,
div,
span,
p {
	page-break-inside: avoid !important;
	break-inside: avoid !important;
}
#content {
	display: block !important;
	columns: 2;
}
.cardBackAndFront {
	margin-bottom: 20px !important;
}

.printRectoVerso #content {
	margin: 0px !important;
	padding: 0px !important;
}
.printRectoVerso #content,
.printRectoVerso.noVerso #content {
	columns: 1 !important;
}
.printRectoVerso .card {
	margin: 0px !important;
	margin-top: 5px !important;
	margin-left: -5px !important;
	padding: 0px !important;
}
.printRectoVerso .cardBack {
	margin-top: 10px !important;
}
.printRectoVerso .cardBackAndFront:nth-of-type(1) .cardFront {
	margin-top: -2px !important;
}

.printRectoVerso #content .cardBack aside {
	margin-left: -227px;
	margin-top: -363px;
	position: relative;
}
